<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>原创:</span>
    <a
      b-slate-link
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/iRedScarf/chatgpt-demo-zh" target="_blank"
    >
      源代码
    </a>
  </p>
</footer>
